html {
  font-size: 62.5%;
  height: 100%;
}
body,
#root,
.App {
  height: 100%;
}
button,
.icon button:focus {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
}
